[run]
omit =
    #Is the actual test file so thus is illogical to test against
    */tests.py
    #Django files not ours
    manage.py
    */migrations/*
    WSCSite/wsgi.py
    #File isn't used
    WSCSite/middleware/login_required_middleware.py
    #Folder isn't used
    utils/ldap_test.py
    utils/MySQLInterface.py