<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>

    <style>



     .button{
                width: 20%;
                background-color:rgb(8, 3, 70) ;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                left: 50%;
    }

    .message{

   	font-style: italic;
   	font-size : 30px


    }

    </style>

</head>
<body>

    <center><p class = "message">Thank You For Using Wits Sports, Click the button to login!</p></center>
    <center> <a href="./login.html"><button class = "button"> Login </button></a></center>

</body>
</html>