
{% load static %}
 <html lang="en">
	<head>
    <title>Message Board</title>
    <link rel="stylesheet" type="text/css" href="{% static "login/Styles2.css" %}">
	</head>


	<body>
        <div class="chatbox">

            <div class="chatlogs">

                <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message"> Hey Man...</p>
            </div>
            <div class="chat self">

                <div class="user-photo"></div>
                <p class="chat-message"> Hey Whats up?</p>

            </div>
                    <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message"> Lorem ipsum dolor sit amet, consectetur </p>
            </div>

        </div>

                <div class="chatlogs">

                <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message"> Hey Man...</p>
            </div>
            <div class="chat self">

                <div class="user-photo"></div>
                <p class="chat-message"> Hey Whats up?</p>

            </div>
                    <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message"> Lorem ipsum dolor sit amet, consectetur </p>
            </div>

        </div>
        </div>


        <div class="chat-form">
                <textarea></textarea>
                <button>Send</button>

        </div>



    </body>

</html>