{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<h2>Sign up</h2>#}
{# <form method="post">#}
{#   {% csrf_token %}#}
{#   {% for field in form %}#}
{#     <div>#}
{#       {{ field.label_tag }}<br>#}
{#       {{ field }}#}
{#       {% for error in field.errors %}#}
{#         <p style="color: red">{{ error }}</p>#}
{#       {% endfor %}#}
{#     </div>#}
{#   {% endfor %}#}
{#   <button type="submit">Sign up</button>#}
{# </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class = "loginbox">
    <br method="post">
    {% csrf_token %}
    <img src="{% static "login/index.png"%}" class="avatar">
    {# Code below just shows all the associated sign up fields, i.e. password username etc #}
    <h1>Register User</h1>
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
    {#        {{ field |add_class:'form-control'}}#} {# add_class:'className' - same as class="className"#}
        {# TODO - Change below {{ field }} to above code with correct css #}
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
    <br>
    {#Display current users#}
    {% if User %}
        <ul>
            {% for user in User.User_set.all %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    {% else %}
    {#        <strong>No users have been created yet :/</strong> {# I don't think this will ever show#}
    {% endif %}
  </form>
    </div>
{% endblock %}