{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
           Admin Message Board
        </title>
        <link rel="stylesheet" type="text/css" href="{% static "login/Styles2.css" %}">
{#        <meta http-equiv="refresh" content="30">#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />

    </head>

    <body>
       <div class="content">
                <div class="nav">
                <a href='Main_Message_Board.html' ><img class="logo" src={%  static "login/index.png" %}></a>
                <a class="profile" href='Main_Message_Board.html'>
                <img  class="profile_pic" src="login/user.png">
            </a>
        </div>

    <div class="container">





            <div class="label">
                <center>


{#                    Add text #}
                     <strong>
                    <h1 class="title">Wits Sport </h1>
                    <h2 class="subtitle">Admin Board</h2>
                 </strong>

                    </center>
            </div>

      </h2>
    </div>



             <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/administration/users">Customise Users</a>
                <a href="/administration/clubs">Customise Clubs</a>
                <a href="{% url 'logout' %}">Logout</a>



              </div>

              <div id="main">
                 <ul>
                    <li><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
{#                    <li><a href="./Main_Message_Board.html">Main Board</a></li>#}
                    <li><a href="/administration/users">Customise Users</a></li>
                    <li><a href="/administration/clubs">Customise Clubs</a></li>
                     <li><a href="./Send_Message.html">Add Message</a></li>

                   </ul>
                </div>
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Updated by</th>
                    <th>Time updated</th>
                </tr>


                {% for message in messages %}
                    <tr>
                        <td ><a href="messages.html?msg={{ message.message_body }}"> {{ message.message_header }}
                        <td>{{ message.user }}</td>
                        <td>{{ message.date_time }}</td>
                    </tr>
                {% empty %}
                {% endfor %}

                  </table>
            <div>

        </div>
        </div>




{#   This is the pagenation for customize users     #}
        <section>
            <nav class="pagination" role="navigation" aria-label="pagination">
         <a class="pagination-previous">Previous</a>
         <a class="pagination-next">Next page</a>
         <ul class="pagination-list">
           <li>
             <a class="pagination-link" aria-label="Goto page 1">1</a>
           </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
           </li>
         </ul>
       </nav>

        </section>


{#                    Footer class #}
<section>
        <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        <strong>Wits Sport</strong>  <a href=" https://www.wits.ac.za/sport/">For more sports info click here </a>. The source code is licensed by the University of Witwatersrand
                        <a href=https://libguides.wits.ac.za/c.php?g=145347&p=953429 </a>. The website content
                        is licensed 2019, <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                    </p>
                </div>
            </footer>
         <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
              document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
              document.body.style.backgroundColor = "white";
            }


            </script>
    </body>
</html>
