body {
    background-color: 'white';
}


#logo{
    height: 20px;
    width: 20px;
}


.nav {
    background-color: white;
    height: 100px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 150px;
}

.profile {

    float: right;
    margin: 10px;
    text-decoration: none;
}

.profile_pic {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

.label {
    color: #010641;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 30px;
    border-top: 2px solid #000966;
}

.content {
    margin-top: 120px;
    margin-left: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
      text-decoration: underline;
  }
  /* a { color: #FF0000; } */
  td  a{
    color: #010641;;
  }

  tr:nth-child(even) {color: #010641;background-color: #9aa4bb;}
  tr:nth-child(odd) {color: #010641;background-color: #d7e3ff;}