<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Messages
        </title>
        <link rel="stylesheet" type="text/css" href="{% static "login/Styles2.css" %}">
    </head>

    <body>
       <script>

           // get message
           let msg = parent.document.URL.substring(parent.document.URL.indexOf('=') + 1, parent.document.URL.length);
           msg = msg.split("%20").join(" ");

           // create message html element
           let msgParaElement = document.createElement('p');
           let msgTextNode = document.createTextNode(msg);
           msgParaElement.appendChild(msgTextNode);

           // add message html element to document
           document.body.appendChild(msgParaElement);

       </script>
    </body>
</html>