{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create User</title>
  <link rel="stylesheet" href="{% static "login/Styles2.css" %}">

</head>
<body>
{% include 'includes/header.html' %}
{% if user.is_staff %}
{#    <div class="label">#}
{#        <center>#}
{#        <strong>#}
{#            <p>#}
{#              Create Club#}
{#            </p>#}
{#        </strong>#}
{#        </center>#}
{#    </div>#}
    <h1>Create Club</h1>
    <div class="centre-container">
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                {{ f.label_tag }}
                {{ f }}<br>
            {% endfor %}
            <input type="submit" value="Create Club">
        </form>
    </div>
{% else %}
    Only users with admin privileges may access this page.
{%  endif %}
</body>
</html>