{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSC Site</title>
    <link rel="stylesheet" type="text/css" href="{% static "login/Styles2.css" %}">
{#    <p>UserName: {{ customUser.username }}</p>#}
</head>
<body>
{% include 'includes/header.html' %}

<h1>User Profile</h1>
<div class="centre-container">
    <label><h3>Student Number:</h3><p>{{ user.username }}</p></label>
    <label><h3>First Name:</h3> <p>{{ user.firstname }}</p></label>
    <label><h3>Last Name:</h3> <p>{{ user.lastname }}</p></label>
    <label><h3>Email Address:</h3> <p>{{ user.email }}</p></label>
    <label><h3>Contact Number:</h3> <p>{{ user.contact_number }}</p></label>
    <label><h3>ID Number:</h3> <p>{{ user.id_number }}</p></label>
</div>
</body>
</html>